## Ignore bundler config.
/.bundle
/vendor/bundle

## Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

## Ignore all logfiles and tempfiles.
/log/*.log
/tmp

## Carrierwave
/public/uploads

## Simplecov
/coverage

## Dotenv
/.env

## Yard
/.yardoc
/doc

## OS X
.DS_Store
.document

## Windows
Thumbs.db

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
