## Ignore bundler config.
/.bundle
/vendor/bundle

## Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

## Ignore all logfiles and tempfiles.
/log/*.log
/tmp

## Carrierwave
/public/uploads

## OS X
.DS_Store
.document

## VIM
*.swp

## figaro
/config/application.yml
