@import 'modules/mixins';
@import 'modules/views';

.flash-message {
  @extend %clearfix;
  padding: 23px 22px;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &.invisible {
    transform: scaleY(0);
  }

  &.error {
    background: #ff2940;
    color: #fff;
  }

  &.notice {
    background: #21cc6b;
    color: #fff;
  }

  .flash-text {
    float: left;
    font-size: 16px;
  }
}
