@font-face {
  font-family: 'torapic-icons';
  src: url(asset-path("torapic-icons.eot"));
  src: url(asset-path("torapic-icons.eot")) format('embedded-opentype'),
       url(asset-path("torapic-icons.woff")) format('woff'),
       url(asset-path("torapic-icons.ttf")) format('truetype'),
       url(asset-path("torapic-icons.svg?#torapic-icons")) format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'torapic-icons';
    src: url(asset-path("torapic-icons.svg?#torapic-icons")) format('svg');
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "torapic-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;
}

.icon-torapic-logo-square:before { content: '\e800'; } /* '' */
.icon-torapic-logo:before { content: '\e801'; } /* '' */
