/*
 *= require dropzone
 *= require components/torapic-icons
 *= require components/sidebar
 *= require_self
*/

@import "compass/reset";
@import "compass";
@import "ceaser-easing";
@import "font-awesome";

@import "modules/mixins";
@import "modules/views";

$font_color: #5d5d5d;
$bg_color: #fff;
$high_color: #f7ee5e;
$thin_color: #dbdbdb;

body {
  font-size: 13px;
  font-family: $ff-gothic-full;
  background: $bg_color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @include font-colors($font_color);
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

.flash-message {
  @extend %clearfix;
  padding: 15px 22px;
  background: #fff;

  .flash-text {
    float: left;
    font-size: 16px;
  }

  .flash-close {
    width: 20px;
    height: 20px;
    float: right;
    display: block;
    padding: 2px 0 0 3.5px;
    text-decoration: none;
    border: 1px solid #000;
    @include border-radius(10px);
  }
}

.box {
  display: inline-block;
  padding: 15px;
  background: #fff;
  color: $font_color;
  @include border-radius(3px);
}

.file-input {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 10px;
  background-color: #eee;

  input[type=file] {
    opacity: 0;
    position: absolute;
  }
}

.logo {
  display: block;
  font-size: 45px;
}

.logo[data-color=white] {
  color: #fff;
}

.logo[data-color=black] {
  color: #000;
}

.logo[data-color=gray] {
  color: #545454;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 90px;
}

.wrapper.landscape {
  background: url(asset-path("torapic_landscape_daylight.png"));
  background-position: bottom;
  @include background-size(cover);
  color: #fff;
  a { @include link-colors(#fff) }
  text-align: center;
}

.layout {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  @extend %clearfix;
  padding: 20px;

  .logo {
    float: left;
  }

  .menu {
    float: right;
  }
}
