/*
 *= require dropzone
 *= require components/torapic-icons
 *= require components/sidebar
 *= require components/buttons
 *= require_self
*/

/*
font-family:'Ysobel W01';
font-family:'Novecento Sans W01 Bd';
*/

@import "compass/reset";
@import "compass";
@import "ceaser-easing";
@import "font-awesome";

@import "modules/mixins";
@import "modules/views";

$font_color: #5d5d5d;
$bg_color: #fff;
$high_color: #f7ee5e;
$thin_color: #dbdbdb;

body {
  font-size: 13px;
  font-family: $ff-gothic-full;
  background: $bg_color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @include font-colors($font_color);
}

h2 {
  font-family: 'Novecento Sans W01 Bd', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2.3px;
}

.form-group {
  margin: 10px 0;
}

.flash-message {
  @extend %clearfix;
  padding: 15px 22px;
  background: #fff;

  .flash-text {
    float: left;
    font-size: 16px;
  }

  .flash-close {
    width: 20px;
    height: 20px;
    float: right;
    display: block;
    padding: 2px 0 0 3.5px;
    text-decoration: none;
    border: 1px solid #000;
    @include border-radius(10px);
  }
}

.group {
  margin-top: 50px;
}

.box {
  display: inline-block;
  padding: 15px;
  background: #fff;
  color: $font_color;
  @include border-radius(3px);
}

.columns {
  @include column-count(3);

  &:hover .column:not(:hover) {
    opacity: 0.7;
  }

  .column {
    display: inline-block;
    margin: 1px 2px 15px;
    opacity: 1;
    @include box-shadow(0 1px 2px rgba(0.0, 0.0, 0.0, 0.2));
    @include transition(all .2s ease);

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
      @include transform(translateZ(0));
    }
  }

  @include bp-medium {
    @include column-count(2);
  }

  @include bp-small {
    @include column-count(1);

    .column {
      display: block;
    }
  }
}

.logo {
  display: block;
  font-size: 45px;
}

.logo[data-color=white] {
  color: #fff;
}

.logo[data-color=black] {
  color: #000;
}

.logo[data-color=gray] {
  color: #545454;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 90px;
}

.wrapper.landscape {
  background: url(asset-path("torapic_landscape_daylight.png"));
  background-position: bottom;
  @include background-size(cover);
  color: #fff;
  a { @include link-colors(#fff) }
  text-align: center;
}

.layout {
  width: 960px;
  margin: 0 auto;
  padding: 20px;

  @include bp-large {
    width: auto;
  }
}

.header {
  @extend %clearfix;
  padding: 20px;

  .logo {
    float: left;
  }

  .menu {
    float: right;
  }
}
