@import "ceaser-easing";
@import "font-awesome";
@import "compass";
@import "modules/mixins";
@import "modules/views";

$font_color: #5d5d5d;
$bg_color: #fff;
$high_color: #f7ee5e;
$thin_color: #dbdbdb;
