@import "compass";

.photo-form {
  margin-top: 200px;
  padding: 40px;
}

.sidebar-header {
  @extend %clearfix;

  &:hover {
    .photo-info-list {
      opacity: 1;
    }
  }
}

.logo {
  float: left;
}

.photo-info-list {
  float: left;
  margin: 3px 0 0 8px;

  .photo-info-item {
    margin: 5px 0 0 0;
    white-space: nowrap;

    .photo-info-icon {
      width: 15px;
      text-align: center;
      margin-right: 2px;
    }
  }

  // Transition
  @include transition(all 0.3s);
  opacity: 0;
}

.photo {
  padding: 90px 20px 0;
  text-align: center;

  .photo-image {
    max-width: 100%;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;

    &.zoomed-in {
      max-width: none;
      cursor: -webkit-zoom-out;
      cursor: -moz-zoom-out;
    }
  }
}
