@import "compass";

.sidebar-header {
  @extend %clearfix;

  .logo {
    float: left;
  }
}

.photo-form {
  margin-top: 200px;
  padding: 40px;
}

.photo-info-list {
  float: left;
  margin: 3px 0 0 8px;

  .photo-info-item {
    margin: 5px 0 0 0;
    white-space: nowrap;

    .photo-info-icon {
      width: 15px;
      text-align: center;
      margin-right: 2px;
    }
  }
}

.photo {
  padding: 20px;
  text-align: center;

  .photo-image {
    max-width: 100%;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;

    &.zoomed-in {
      max-width: none;
      cursor: -webkit-zoom-out;
      cursor: -moz-zoom-out;
    }
  }
}
