/*
 *= require pickadate/default
 *= require pickadate/default.date
 *= require pickadate/default.time
 *= require dropzone
 *= require nouislider/jquery.nouislider
 *= require components/custom-bootstrap-datetimepicker
*/

@import "compass";
@import "modules/mixins";

// Form
.photo-form {
  width: 400px;
  margin-top: 50px;
  padding: 40px;

  @include bp-medium {
    width: auto;
    margin: 20px 20px 0;
  }

  @include bp-small {
    width: 100%;
    margin: 0;
    padding: 20px;
    @include border-radius(0);
  }
}

.image-drop-zone {
  padding: 20px;
  background: #fafafa;
}

.sidebar-header {
  @extend %clearfix;

  .logo {
    float: left;
  }
}

.photo-info-list {
  float: left;
  margin: 3px 0 0 8px;

  .photo-info-item {
    margin: 5px 0 0 0;
    white-space: nowrap;
  }
}

.photo {
  padding: 0 20px 20px;
  text-align: center;

  .photo-image {
    max-width: 100%;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;

    &.zoomed-in {
      max-width: none;
      cursor: -webkit-zoom-out;
      cursor: -moz-zoom-out;
    }
  }
}
